.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 1rem;
  cursor: pointer;
  color: #ffcb01;
  transition: all ease-in 0.1s;
}

.arrow-btn:hover {
  color: #ef534f;
}
