.searchbar-container {
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 1rem;
  font-style: normal;
  color: grey;
  width: 4rem;
  /* box-sizing: border-box; */
  border: 2px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
  box-shadow: none;
}

input:focus {
  width: 10rem;
}

.search-btn {
  border: 2px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  margin: 2px;
}

.search-icon {
  box-sizing: border-box;
  color: #07051a;
  font-size: 1rem;
}
