/* @import "./css/SearchBar2.scss"; */

:root {
  font-size: 16px;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

* {
  font-family: "Inconsolata", monospace;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* IMPORT CSS FILES */
@import "./css/Arrow.css";
@import "./css/Navbar.css";
@import "./css/PokedexCard.css";
@import "./css/SearchBar.css";
@import "./css/Title.css";
@import "./css/Footer.css";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #3267ad;
  margin: 0;
}

.main {
  background-color: #3267ad;
  height: 30rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 6rem;
}
