.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.pokedex {
  height: 50vh;
  width: 50vw;
}

img {
  max-width: 300px;
  min-width: 300px;
}
