/* IMPORTS */
@import "./css/Arrow.css";
@import "./css/Navbar.css";
@import "./css/PokedexCard.css";
@import "./css/SearchBar.css";

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
